body, html {
    width: 100%;
    height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #263a52;
}
#game-container {
    position: relative;
    width: 100%;
    height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
}